<h1 class="mb-4">Dashboard</h1>
<a href="/newpost" class="btn btn-primary">Create a New Blog Post</a>

{{#if posts.length}}
<section>
    <h2>Your Dashboard</h2>
    <ul class="post-list">
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">edit post</a>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}