
    <section>
        <div class="form-heading">
            <h2>
                Edit Post
            </h2>
        </div>
        <div class="form-section">
            <form class="edit-post-form">
                <div class="edit-post-title-section">
                    <label class="p-3" for="post-title">Title</label>
                    <input type="text" name="post-title" id="post-title" value="{{post.title}}" />
                </div>
                <div class="post-content">
                    <label class="m-2" for="post-content">Content</label>
                    <textarea class="entry-field mt-3" id="post-content" name="post-content">{{post.content}}</textarea>
                </div>
                <button type="submit" id="update-post-button">Update post</button>
            </form>
        </div>
    </section>




