<section class="container">
  <h3 class="gallery-name">This is post page</h3>
  <!-- If the user is logged in, render the gallery content -->
</section>
<!-- Otherwise, provide a link to login -->
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}